.fixed { height:560px; overflow:hidden; }
.scrollit { height:560px; overflow-y:scroll; }
.event .overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.event .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    border-radius: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.event .overlay {
    background-color: rgba(0,0,0,0.15);
}

.event {
    padding: 1em;
}

.event p {
    margin-top: 1em;
}